/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.main-container-wrapper {
    width: 70%;
    margin: 0 auto;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

* {
    transition: box-shadow ease 0.2s, background ease 0.2s, color ease 0.2s, border ease 0.2s;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    border-top: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}






/*https://colorhunt.co/palette/180289*/
.custom-navbar {
    width: 100%;
    padding: 10px 80px;
    display: flex;
    flex-direction: row;
    background-color: #142850;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    color: white;
}

.scroll-navbar {
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.body-spacer {
    height: 80px;
}

body {
    /*    background-color: #dae1e7;*/
    /*background-color: #eaf5ff;*/
    background-color: rgba(234,245,255,0.5);
}

.navbar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}


a.nav-item, span.nav-item {
    color: rgba(255,255,255,1);
    margin-left: 20px;
}

    a.nav-item:hover, span.nav-item:hover {
        text-decoration: none;
    }

.nav-dropdown-header {
    display: flex;
}

.material-icons.drop-down-arrow {
    color: rgba(255,255,255,0.7);
}

.dropdown-wrapper:hover .material-icons.drop-down-arrow {
    color: rgba(255,255,255,1);
}

.material-icons.drop-down-arrow:hover {
    color: white;
}

.dropdown-wrapper:hover .dropdown-content {
    display: block;
}

.dropdown-spacer {
    padding-bottom: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #142850;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 0 0 10px 10px;
}

.dropdown-nav-item:last-child {
    border-radius: 0 0 10px 10px;
}

a.dropdown-nav-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 20px;
}

    a.dropdown-nav-item:hover {
        background-color: #0b1529;
    }

a.navbar-brand-name {
    font-size: 1.5em;
    margin-left: 0px;
}

.hr {
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.1);
}


.hr-dark {
    margin-top: 2px;
    margin-bottom: 10px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.fluid-form-control {
    display: block;
    width: 100%;
}

.rounded-textfield {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
}


    .rounded-textfield:focus {
        outline: none;
    }

.custom-primary-button {
    background: #142850;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

    .custom-primary-button:focus {
        outline: none;
    }

.my-custom-select {
    border-radius: 5px;
    border: none;
    padding: 10px;
}

    .my-custom-select:focus {
        outline: none;
    }

.my-custom-option {
    padding: 10px;
}

/********************* LOGIN STYLES ******************************/

#login-page .login-wrapper {
    width: 60%;
    padding: 30px;
    margin: 50px auto;
    background: #27496d;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.5);
}

    #login-page .login-wrapper h3 {
        color: white;
        margin-bottom: 30px;
    }

    #login-page .login-wrapper .login-button-text-wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-items: flex-end;
        align-items: center;
    }

        #login-page .login-wrapper .login-button-text-wrapper a {
            color: white;
        }

            #login-page .login-wrapper .login-button-text-wrapper a:hover {
                text-decoration: underline;
            }

.login-error-text-wrapper {
    margin-top: 10px;
}

.login-error-text {
    color: rgb(255, 100, 100);
}
/********************* REGISTER STYLES ******************************/
#register-page .register-wrapper {
    width: 60%;
    padding: 30px;
    margin: 50px auto;
    background: #27496d;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.5);
}

    #register-page .register-wrapper h3 {
        color: white;
        margin-bottom: 30px;
    }

    #register-page .register-wrapper .register-button-text-wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-items: flex-end;
        align-items: center;
    }

        #register-page .register-wrapper .register-button-text-wrapper a {
            color: white;
        }

            #register-page .register-wrapper .register-button-text-wrapper a:hover {
                text-decoration: underline;
            }

.register-error-text-wrapper {
    margin-top: 10px;
}

.register-error-text {
    color: rgb(255, 100, 100);
}

/********************* PRODUCTS STYLES ******************************/

.body-content {
    padding: 30px;
    padding-bottom: 300px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

* {
    font-family: "Montserrat";
}

    *::-webkit-scrollbar {
        width: 5px;
        height: 3px;
        border-radius: 50%;
    }

    *::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.51);
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.51);
    }

    *::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

.main-wrapper {
    padding-left: 10px;
}

.dark-hr {
    margin-top: 0;
    margin-bottom: 10px;
    height: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.9);
}

.another-wrapper {
    width: 70%;
    margin: 0 auto;
}

.no-products-text {
    font-size: 1.4em;
    margin: 30px;
    /*margin-top: 50px;*/
}


.category-card-wrapper {
    display: flex;
    flex-direction: row;
}

.panel-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scroll-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: none;
}

    .scroll-button:hover {
        background-color: rgba(0,0,0,0.1);
    }

    .scroll-button:focus {
        outline: none;
    }

span.material-icons.scroll-icon {
}

.panel-list-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px 0 5px 0;
    margin: 0 10px;
}

.panel-list {
    white-space: nowrap;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.panel-list-item {
    display: inline;
    margin-right: 10px;
    padding: 10px;
    border-radius: 1000px;
    border: 1px solid rgba(0,0,0,0.2);
}

    .panel-list-item:hover {
        background-color: rgba(0,0,0,0.1);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    }

    .panel-list-item.active {
        background-color: rgba(0,0,0,0.8);
    }

        .panel-list-item.active .panel-list-item-link {
            color: white;
        }

.panel-list-item-link {
    color: black;
    text-decoration: none;
}

    .panel-list-item-link:hover {
        color: black;
        text-decoration: none;
    }


.card-wrapper {
    padding-top: 30px;
    flex-basis: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.custom-card {
    margin: 0 15px 30px 15px;
    background: rgba(255,255,255,0.95);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

.product-card {
    align-self: flex-start;
    flex-shrink: 0;
    min-width: 150px;
}

    .product-card:hover {
        cursor: pointer;
        border: 1px solid rgba(0,0,0,0.5);
        box-shadow: 2px 2px 15px 0px rgba(0,0,0,1);
    }

.desc-wrapper {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.2);
    transition: display 2s ease;
    z-index: 100;
}

.card-desc {
    margin: 0 10px;
    font-size: 1em;
}


.create-card {
    margin: 15px;
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
    padding: 20px;
    flex-basis: 40%;
}


.custom-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.card-img {
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    width: auto;
    max-width: 100%;
    padding: 5px;
}

.custom-card-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
    max-width: 100%;
}

.custom-card-title-short {
    height: 3.0em;
    overflow: hidden;
}

.custom-card-title-full {
    display: none;
}

.card-price {
    margin-top: 20px;
    font-size: 0.8em;
    font-weight: bold;
}

.card-link {
    margin-top: 15px;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    background: rgba(0,123,255,0.8);
    text-align: center;
}


    .card-link:hover {
        background: rgba(0,123,255,1);
    }

.options-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    flex-direction: row-reverse;
}

.material-icons {
    font-size: 1.5em;
    color: rgba(0,0,0,0.5);
}

    .material-icons:hover {
        color: rgba(0,0,0,0.8);
        cursor: pointer;
        text-decoration: none;
    }

.edit-icon {
    margin-right: 5px;
}

.big-icon {
    font-size: 2.0em;
}

.custom-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputfile + .upload-label {
        font-size: 1.25em;
        font-weight: 700;
        display: inline-block;
    }

.upload-label {
    /*   background-color: rgba(0,0,0,0.5); */
    color: white;
}

.inputfile:focus + .upload-label,
.inputfile + .upload-label:hover {
    /*     background: rgba(0,0,0,0.8); */
    cursor: pointer;
}

.inputfile:focus + .upload-label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.form-input {
    width: 100%;
    padding: 5px;
    border-radius: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 1.2em;
    margin-top: 20px;
    resize: none;
}

.error-text {
    margin-top: 10px;
}

.image-container {
    height: 300px;
    width: 500px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.index-image-container {
    height: 200px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.card-product-info {
    display: flex;
    flex-direction: column;
    /*min-height:50%;*/
}

.image-edit-icon {
    display: none;
}

.image-delete-icon {
    font-size: 30px;
    display: none;
}

.no-image-text {
    align-self: center;
    display: block;
}

.upload-img {
    display: none;
    max-height: 300px;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.form-control-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
}

.form-button-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 10px;
}

.form-button {
    padding: 5px 10px;
    background: rgba(0, 123, 255, 0.8);
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

    .form-button:hover {
        background: rgba(0, 123, 255, 1);
    }

.back-button {
    padding: 5px 10px;
    background: transparent;
    border: none;
    color: black;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

    .back-button:hover {
        font-weight: bold;
        text-decoration: none;
    }

.header-controls {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    align-items: center;
}

.search-category-combobox {
    margin-top: 0;
    margin-right: 20px;
    width: 200px;
    font-size: 1.2em;
    background: rgba(0,0,0,0);
    border: none;
}

.home-search-bar {
    margin-top: 0;
    margin-right: 20px;
    width: 400px;
    font-size: 1.2em;
    background: rgba(0,0,0,0);
}

form {
    width: 100%;
    height: 100%;
}

#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: rgba(0,0,0,0.5);
}

#delete-form-wrapper {
    display: none;
    background-color: rgba(0,0,0,0.95);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    position: absolute;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 60%;
    color: white;
}

.delete-confirm-button {
    background-color: rgba(255,255,255,0.2);
    border: none;
    color: white;
    margin: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

    .delete-confirm-button:hover {
        background-color: rgba(255,255,255,0.4);
        box-shadow: 1px 1px 1px rgba(255,255,255,0.2);
    }

.delete-button-group {
    display: flex;
    flex-direction: row-reverse;
}


@media (max-width: 1187px) {

    .card {
        flex-basis: 25%;
    }
}

@media (max-width: 975px) {

    .card {
        flex-basis: 40%;
    }
}

@media (max-width: 600px) {
    .card {
        flex-basis: 60%;
    }
}

/* Details Page */
.details-body-wrapper {
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    max-height: 500px;
    align-items: flex-start;
}

.details-body-info-block {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    background-color: rgb(255,255,255);
    margin-right: 5%;
    flex-basis: 75%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 20px;
}

.product-image-wrapper {
    flex-basis: 30%;
    max-height: 100%;
    /*    border: 1px solid rgba(0,0,0,0.1);*/
    /*    border-radius: 10px;*/
    display: flex;
    justify-content: center;
}

.product-image {
    max-height: 100%;
    max-width: 100%;
    /*    padding: 10px;*/
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.product-info-wrapper {
    padding-left: 5%;
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

.details-body-cart-block {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    background-color: rgb(255,255,255);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    flex-basis: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.stock-text {
    margin: 5px 0 0 0;
}

.log-in-text-wrapper {
    margin: 5px 0 0 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    background: rgba(0,0,0,0.1);
}

.log-in-text {
}

.quantity-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.0em;
}

.quantity-input {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1);
}

.quantity-label {
    flex-basis: 70%;
}

.added-to-cart-message {
    margin-top: 10px;
    display: none;
}

.category-text {
    font-size: 0.8em;
    color: rgba(0,0,0,0.6);
}

/* Shopping cart styles */
.cart-body-wrapper {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    max-height: 500px;
    align-items: flex-start;
}

.cart-item-wrapper {
    margin-right: 5%;
    padding-right: 10px;
    flex-basis: 75%;
    max-height: 800px;
    overflow-y: auto;
}

.cart-item {
    margin-bottom: 10px;
}

.cart-item-info-block {
    background-color: rgb(255,255,255);
    flex-basis: 75%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
}

.cart-item-image-wrapper {
    height: 200px;
    width: 200px;
    /*    border: 1px solid rgba(0,0,0,0.1);*/
    /*    border-radius: 10px;*/
    display: flex;
    justify-content: center;
}

.cart-item-image {
    max-height: 100%;
    max-width: 100%;
    /*    padding: 10px;*/
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.cart-item-info-wrapper {
    padding-left: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-item-link {
    color: black;
    text-decoration: none;
}

    .cart-item-link:hover {
        color: black;
        text-decoration: underline;
    }


.cart-total-block {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    background-color: rgb(255,255,255);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    flex-basis: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart-total-info {
    margin-top: 10px;
}

    .cart-total-info span {
        display: block;
        margin-bottom: 5px;
    }

.complete-order-button {
    width: 100%;
    margin-top: 10px;
}

.cart-quantity-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.0em;
    align-items: baseline;
    margin-top: 10px;
}

.cart-quantity-input {
    display: inline-block;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1);
}

.cart-quantity-label {
    margin-right: 10px;
    margin-bottom: 0;
}

.remove-text {
    font-size: 0.8em;
    color: red;
}

    .remove-text:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.cart-out-of-stock-wrapper {
    margin: 5px 0 1.0em 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    background: rgba(0,0,0,0.1);
}

.not-enough-stock-text {
    display: block;
    margin: 10px 0;
    color: #969600;
}





/* Checkout styles*/
.checkout-body-wrapper {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.checkout-form-wrapper {
    flex-basis: 75%;
    margin-right: 5%;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}

    .checkout-form-wrapper form {
        margin-top: 20px;
    }


.checkout-total-block {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
    background-color: rgb(255,255,255);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    flex-basis: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.checkout-total-info {
    margin-top: 10px;
}

    .checkout-total-info span {
        display: block;
        margin-bottom: 5px;
    }

.complete-order-button {
    width: 100%;
    margin-top: 10px;
}

.checkout-error-text-wrapper {
    margin-top: 10px;
}

.checkout-error-text {
    color: rgb(255, 100, 100);
}

.province-select{
    margin-bottom: 15px;
}

.order-list-wrapper{
    margin-top: 30px;
}

.order-wrapper {
    background: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
    margin-bottom: 15px;
}

.order-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-header h4{
    margin: 0;
}

.material-icons.order-icon.tick-icon, .material-icons.order-icon.tick-icon:hover{
    cursor: default;
    color: green;
    font-size: 2.0em;
}

.material-icons.order-icon.clock-icon, .material-icons.order-icon.clock-icon:hover {
    cursor: default;
    color: gray;
    font-size: 2.0em;
}

.order-status{
    color: rgba(0,0,0,0.6);
}

.order-images-wrapper {
    margin-top: 10px;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}


.order-image-container {
    height: 150px;
    width: 150px;
    flex-shrink: 0;
    padding: 5px;
    margin-right: 5px;
    display: flex;
}

.order-image {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    padding: 5px;
    object-fit: contain;
}

.order-image:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.orders-graph {
    display: none;
    background: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}