@{
    ViewBag.Title = "Register";
}
<div id="register-page">

    <div class="register-wrapper">
        <h3>Register</h3>

        <form action="/user/register" method="post">
            @Html.AntiForgeryToken()
            <input type="text" id="email" placeholder="Email" class="fluid-form-control rounded-textfield" />
            <input type="text" id="name" placeholder="Name" class="fluid-form-control rounded-textfield" />
            <input type="text" id="surname" placeholder="Surname" class="fluid-form-control rounded-textfield" />
            <input type="password" id="password" placeholder="Password" class="fluid-form-control rounded-textfield" />
            <input type="password" id="confirm-password" placeholder="Confirm Password" class="fluid-form-control rounded-textfield" />
            <select class="fluid-form-control my-custom-select" id="user-type">
                <option value="1" class="my-custom-option">Employee</option>
                <option value="2" class="my-custom-option">Customer</option>
            </select>
            <div class="register-button-text-wrapper">
                <button type="button" class="custom-primary-button" id="register-button">Register</button>
                <a href="/Users/Login">Already have an account? Login instead!</a>
            </div>
            <div class="register-error-text-wrapper">
                <span class="register-error-text">@ViewBag.Error</span>
            </div>
        </form>
    </div>

</div>

<script>
    $('#register-button').click((e) => {
        console.log("Register clicked");
        var formData = new FormData();
        formData.append("__RequestVerificationToken", $('input[name="__RequestVerificationToken"]').val());
        formData.append("Email", $('#email').val());
        formData.append("Name", $('#name').val().replace('.',','));
        formData.append("Surname", $('#surname').val());
        formData.append("Password", $('#password').val());
        formData.append("ConfirmPassword", $('#confirm-password').val());
        formData.append("UserType", $('#user-type').val());

        var validationRequest = new XMLHttpRequest();
        //Submit for validation
        validationRequest.open("POST", "/Users/Validate");
        validationRequest.onreadystatechange = () => {
            //Valid, so submit to /Users/Register then redirect
            if (validationRequest.readyState === 4 && validationRequest.status === 200 && validationRequest.response == "OK") {
                $('.register-error-text').text("");
                var createRequest = new XMLHttpRequest();
                createRequest.open("POST", "/Users/Register");
                //When new product has been posted, redirect to index
                createRequest.onreadystatechange = () => {
                    if (validationRequest.readyState === 4 && validationRequest.status === 200 && validationRequest.response == "OK") {
                        window.location.replace("/Products/Index");
                    }
                }
                createRequest.send(formData);
            }
            //Not valid, display validation errors
            else {
                $('.register-error-text').text(validationRequest.response);
            }
        }
        //Send request
        validationRequest.send(formData);
    });
</script>