
@{
    ViewData["Title"] = "Details";
}

<div class="body-content">


    <div class="main-wrapper">
        <div class="custom-card-header">
            <h1 class="title">Shopping Cart</h1>
        </div>
        <div class="dark-hr"></div>

        @*@if (Model.Count() == 0)
            {
                <div class="no-products-text">No products found</div>
            }*@



    </div>

</div>