@{
    ViewBag.Title = "Register";
}
<div id="register-page">

    <div class="register-wrapper">
        <h3>Register</h3>

        <form action="/user/register" method="post">
            <input type="text" name="email" placeholder="Email" class="fluid-form-control rounded-textfield" />
            <input type="text" name="name" placeholder="Name" class="fluid-form-control rounded-textfield" />
            <input type="text" name="surname" placeholder="Surname" class="fluid-form-control rounded-textfield" />
            <input type="password" name="password" placeholder="Password" class="fluid-form-control rounded-textfield" />
            <input type="password" name="confirmPassword" placeholder="Confirm Password" class="fluid-form-control rounded-textfield" />
            <select class="fluid-form-control my-custom-select" name="userType">
                <option value="employee" class="my-custom-option">Employee</option>
                <option value="customer" class="my-custom-option">Customer</option>
            </select>
            <div class="register-button-text-wrapper">
                <button class="custom-primary-button">Register</button>
                <a href="/user/login">Already have an account? Login instead!</a>
            </div>
        </form>
    </div>

</div>