<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACME Inc - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery.hoverIntent.js"></script>
</head>
<body>
    <header>
        <nav class="custom-navbar">
            <div class="navbar-section">
                <a class="navbar-brand-name nav-item" href="/home">ACME Inc</a>
                <a class="nav-item" href="/Products">Products</a>
            </div>
            <div class="navbar-section">
                @using Microsoft.AspNetCore.Http
                @inject IHttpContextAccessor HttpContextAccessor
                @if (HttpContextAccessor.HttpContext.Session.GetString("Email") != null)
                {
                    <div class="dropdown-wrapper">
                        <span class="nav-item nav-dropdown-header">
                            Welcome,&nbsp;<strong>@HttpContextAccessor.HttpContext.Session.GetString("Name")</strong>
                            <span class="material-icons drop-down-arrow">
                                arrow_drop_down
                            </span>
                        </span>

                        <div class="dropdown-content">
                            <div class="dropdown-spacer"></div>
                            <a href="#" class="nav-item dropdown-nav-item">Shopping Cart</a>
                            <a href="#" class="nav-item dropdown-nav-item">Orders</a>
                            <a asp-controller="Users" asp-action="Logout" class="nav-item dropdown-nav-item"><strong>Logout</strong></a>
                        </div>
                    </div>
                }
                else
                {
                    <a asp-area="" asp-controller="Users" asp-action="Login" class="nav-item">Log In</a>
                }
            </div>
        </nav>
    </header>
    <div class="body-spacer">

    </div>
    <div class="main-container-wrapper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        @*<div class="container">
                &copy; 2020 - ACME
            </div>*@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        var navbar = $('.custom-navbar');
        $(window).on('scroll', () => {
            var scroll = $(window).scrollTop();
            if (scroll > 0) {
                $(navbar).addClass('scroll-navbar');
            } else {
                $(navbar).removeClass('scroll-navbar');
            }
        });

    </script>
</body>
</html>
