
@{
    ViewData["Title"] = "Orders";
}

<div class="body-content">

    <div class="main-wrapper">
        <div class="custom-card-header">
            <h1 class="title">My Orders</h1>
        </div>
        <div class="dark-hr"></div>

        <div class="order-list-wrapper">
            <div class="order-wrapper">
                <div class="order-header">
                    <h4>Delivered - Date</h4>
                    @*<span class="material-icons clock-icon order-icon">
                            access_time
                        </span>*@
                    <span class="material-icons tick-icon order-icon">
                        done
                    </span>
                </div>
                <span>Order placed by Name</span>
                <div class="hr-dark"></div>
                <div class="order-images-wrapper">
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/02/in-the-80s-elton-john.jpg?w=1536&h=1500&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/01/in-the-80s-elton-john.jpg?w=2000&h=1463&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://i.pinimg.com/originals/1d/0b/f8/1d0bf85e0ea4603d06f33a1015e33edb.jpg" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/02/in-the-80s-elton-john.jpg?w=1536&h=1500&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/01/in-the-80s-elton-john.jpg?w=2000&h=1463&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://i.pinimg.com/originals/1d/0b/f8/1d0bf85e0ea4603d06f33a1015e33edb.jpg" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/02/in-the-80s-elton-john.jpg?w=1536&h=1500&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/01/in-the-80s-elton-john.jpg?w=2000&h=1463&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://i.pinimg.com/originals/1d/0b/f8/1d0bf85e0ea4603d06f33a1015e33edb.jpg" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/02/in-the-80s-elton-john.jpg?w=1536&h=1500&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/01/in-the-80s-elton-john.jpg?w=2000&h=1463&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://i.pinimg.com/originals/1d/0b/f8/1d0bf85e0ea4603d06f33a1015e33edb.jpg" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/02/in-the-80s-elton-john.jpg?w=1536&h=1500&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/01/in-the-80s-elton-john.jpg?w=2000&h=1463&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://i.pinimg.com/originals/1d/0b/f8/1d0bf85e0ea4603d06f33a1015e33edb.jpg" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/02/in-the-80s-elton-john.jpg?w=1536&h=1500&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://inthe80sblog.files.wordpress.com/2016/01/in-the-80s-elton-john.jpg?w=2000&h=1463&crop=1" alt="" title="Product name" />
                    </div>
                    <div class="order-image-container">
                        <img class="order-image" src="https://i.pinimg.com/originals/1d/0b/f8/1d0bf85e0ea4603d06f33a1015e33edb.jpg" alt="" title="Product name" />
                    </div>
                </div>
            </div>

        </div>



    </div>

</div>